body{
    margin:0;
    
}
section .profile{
    height:800px;
    justify-content: center;
    display: flex;
}
.kartu{
    width: 250px;
    height:500PX;
    background-color: lightblue;
    padding: 5px 10px;
    text-align: center;
    margin: 10px auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 1s;
}
.kartu:hover{
    background-color: greenyellow;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
}
.kartu a{
    text-decoration: none;
    padding: 5px 10px;
}
.kartu img{
    width: 100%;
}

.deskripsi{
    padding: 5px;
    font-family: "Sofia";
}
h2{
    margin: 0 auto;
    text-align: center;
}
.nama{
    font-family: "Audiowide";
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover{
    opacity: 0.5;
}
.fa-facebook {
    background: none;
    color: blue;
}
.fa-instagram{
    background: none;
    color: white;
}
.fa-youtube{
    background: none;
    color: red;
}
.fa-twitter{
    background: none;
    color: aqua;
}
